body {
    margin: 0;
}

.stu_page_wrappers {
    width: 100%;
    height: 100vh;
    min-width: 600px;
    min-height: 600px;
    overflow: auto;
    position: relative;
    background: url(../../image/bg6.jpg) no-repeat;
    background-size: 100% 1080px;
}

.dz_left {
    width: 58%;
    min-height: 400px;
    float: left;
    position: relative;
}

.dz_left .contentbg {
    width: 100%;
    min-height: 400px;
    display: none;
}

.dz_left .contentbg.show {
    display: block;
}

.stu_login_content .stu_login_left {
    width: 50%;
    height: 287px;
    float: left;
    position: relative;
    display: none;
}

.stuLogin {
    font-size: 20px;
    color: #000;
    padding-left: 35px;
    margin-top: 20%;
    font-weight: 600;
    position: relative;
    margin-bottom: 14px;
}

.stuLogin:after {
    content: '';
    width: 40px;
    height: 2px;
    position: absolute;
    background: #017575;
    left: 35px;
    bottom: -10px;
}

.stu_tab {
    width: 100%;
}

.stu_tab_content {
    padding: 25px 35px 0 35px;
    /* background: rgba(255, 255, 255, .7); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5ffffff, endColorstr=#E5ffffff); */
    min-height: 205px;
}

.stu_tab_content_item {
    position: relative;
}

.stu_tab_content_item p {
    position: relative;
    margin-top: 0;
    margin-bottom: 17px;
}

.stu_tab_content_item p label {
    font-size: 12px;
    margin-left: 5px;
    color: #666666;
}

.drxx {
    width: 58%;
    min-height: 400px;
    float: left;
    position: relative;

}

.dlsm {
    width: 100%;
    height: 400px;
    display: block;
}

.byzs {
    display: none;
}

.dz_label {
    font-size: 13px;
    display: block;
}

.stu_input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 6px 0;
    font-size: 14px;
    width: 100%;
    margin: 0;
    color: #676a6c;
    background-color: rgba(255, 255, 255, .3);
}

.stu_input:focus {
    outline: none;
}

.stu_login_btn {
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 3px;
    text-decoration: none;
    border: 1px solid transparent;
    width: 100%;
    margin-top: 40px;
}

.primary {
    background-color: #017575;
    border-color: #017575;
}

.primary:hover {
    background-color: #017575;
    border-color: #017575;
}


.full_width {
    display: block;
}

.stu_login_wjmm {
    text-decoration: none;
    color: #017575;
    float: left;
    cursor: pointer;
}

.drsm {
    font-size: 12px;
    text-decoration: none;
    color: #017575;
    float: right;
    cursor: pointer;
}


.stu_login_wjmm:hover {
    color: #017575;
}

.stu_login_wjmm small {
    font-size: 12px;
}


.stu_error {
    position: absolute;
    color: #ED5565;
    font-size: 12px;
    top: 55px !important;
    left: 0;
}

.clearfloat {
    clear: both;
}

@media screen and (min-width: 1001px) {
    .stu_login_content {
        width: 56%;
        margin: 7% auto 0;
        background: rgba(255, 255, 255, .8);
        ;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
        overflow: hidden;
    }

    .stu_login_right {
        width: 42%;
        float: right;
        position: relative;
    }
}

@media screen and (max-width: 1000px) {
    .stu_login_content {
        width: 339px;
        margin: 7% auto 0;
        background: rgba(255, 255, 255, .8);
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
        overflow: hidden;
    }

    .drsm {
        display: none !important;
    }

    .stu_login_right {
        width: 100%;
        float: right;
        position: relative;
    }

    .dz_left {
        display: none !important;
    }

    .stu_tab_content {
        padding-bottom: 20px;
    }

    .drsm {
        font-size: 12px;
        text-decoration: none;
        color: #017575;
        float: right;
        margin-top: 15px;
        margin-bottom: 25px;
    }
}