/* CSS Document */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*边框*/
.bor {
    border: 1px solid #0000FF;
}

.bor1 {
    border: 1px solid #0C0;
}

/*去除文本框的边框*/
input {
    border: 1px solid #ccc;
    background: none;
    vertical-align: center;
}

/*颜色*/
.red {
    color: #F00;
}

.yellow {
    color: #ffff00;
}

.green {
    color: #f36d00;
}

.blue {
    color: #256aaa;
}

.black {
    color: #000;
}

.white {
    color: #FFF;
}

.blue1 {
    color: #1523af;
}

/*清除浮动*/
.cle {
    clear: both;
}

/*a标签*/
td a, li a {
    text-decoration: none;
    color: #333;
}

/* div a {
    text-decoration: none;
} */

a:hover {
    text-decoration: none;
    color: #000;
}

ul, li, dl, dd, dt, p, input, span, form, h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0px;
    padding: 20px;
    color: #000;
    font-size: 12px;
    font-family: 宋体;
}

.header {
    width: 1200px;
    height: 161px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    top: 24px;
}

.text {
    position: absolute;
    left: 135px;
    top: 60px;
    font-family: "STXingkai", cursive;
    font-size: 30px;
    color: #18884b;
}

.header_R {
    width: 264px;
    height: 64px;
    position: absolute;
    right: 48px;
    top: 59px;
}

.header_T {
    width: 262px;
    height: 24px;
    line-height: 24px;
}

.header_T a {
    font-size: 14px;
    margin: 0 4px 0 4px;
}

.header_T span {
    font-size: 14px;
}

.search {
    width: 261px;
    height: 26px;
    background: url("../image/search_bg_03.png") no-repeat;
    margin-top: 10px;
    margin-right: 30px;
}

.search input {
    color: #9f9f9f;
}

.EditSearch {
    width: 256px;
    height: 25px;
    border: 0;
    background-color: transparent;
    padding: 2px 0 0 5px;
    line-height: 22px;
    z-index: 2;
    position: absolute;
    left: 0;
}

#rpcontent {
    display: none;
    width: auto;
    height: 100px;
}

#rpcontent p {
    margin: 20px;
    font-size: 2rem;
    margin-bottom: 100px;
}

.nav {
    width: 1225px;
    height: 40px;
    margin: 0 auto;
    background: url("../image/nav_bg_03.png") no-repeat;
}

.nav ul li {
    width: 10%;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    text-align: center;
    margin-left: 5%;


}

.nav ul li a {
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: white;
}

.nav ul li :hover {
    background: url("../image/li_bf.png") no-repeat;
}

.nav ul li a:hover {
    color: #ffff00;
}

element.style {
    position: relative;
    z-index: 10000;
}

body, div, a, ul, li {
    margin: 0;
    padding: 0;
}


*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    width: 1225px;
    height: 359px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 -5px 3px #333;

}

#list {
    width: 8575px;
    height: 359px;
    position: absolute;
    z-index: 1;
}

#list img {
    float: left;
}

#buttons {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 10px;
    line-height: 10px;
    bottom: 20px;
    left: 571px;
    z-index: 2;
}

#buttons span {
    cursor: pointer;
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #ccc;
    margin-right: 8px;
}

#buttons .on {
    background: #18884b;
}

.arrow {
    cursor: pointer;
    display: none;
    line-height: 39px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 160px;
    background-color: RGBA(199, 237, 204, .9);
    color: #fff;
}

.arrow:hover {
    background-color: RGBA(0, 255, 0, .4);
}

#container:hover .arrow {
    display: block;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

.content1 {
    width: 1180px;
    height: 265px;
    margin: 0 auto;
    margin-top: 20px;
}

.contents_l {
    width: 550px;
    height: 265px;
    float: left;
}

.section_top span {
    font-size: 17px;
    float: left;
}

.section_top a {
    color: black;
    font-size: 17px;
    float: right;
    margin-right: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.section_top a:hover {
    color: #ff0000;
}

.notice1_M {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    overflow: hidden;

}

.notice1_M a:hover {
    color: red;
}

.notice1_M ul {
    width: 100%;
    height: 200px;
    margin-left: 2px;
    overflow: hidden;
    line-height: 25px;
}
.notice1_M ul li{
    padding: 7px 0;
}

.notice1_M ul li .no {
    display: inline-block;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.contents_r {
    width: 550px;
    height: 265px;
    float: right;
}

.section_top {
    width: 550px;
    height: 36px;
    border-bottom: 3px solid rgb(59, 177, 112);
    line-height: 36px;
}

.policy_T span {
    font-size: 17px;
    float: left;
    color: black;
    margin-left: 4px;
}

.policy_T a {
    font-size: 17px;
    float: right;
    margin-right: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.policy_T a:hover {
    text-decoration: none;
    color: #FFFF00;
}

.policy_M {
    width: 550px;
    height: 200px;
    margin-top: 14px;
    overflow: hidden;
}

.policy_M ul {
    width: 100%;
    height: 200px;
    margin-left: 14px;
    overflow: hidden;
    line-height: 24px;
}
.policy_M ul li{
    padding:7px 0;
}
.policy_M ul li .im {
    display: inline-block;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.policy_M ul li a {
    color: #000;
}

.policy_M ul li a:hover {
    color: #FFFF00;
}

.policy_M ul li span {
    font-family: 宋体;
}

#policy_M_a a:hover {
    color: #F00;
}

#policy_M ul li a:hover {
    color: #F00;
}

.content2 {
    width: 1180px;
    height: 265px;
    margin: 0 auto;
    margin-top: 15px;

}

.content3 {
    width: 1180px;
    height: 265px;
    margin: 0 auto;
    margin-top: 15px;

}

.information_S span {
    font-size: 17px;
    color: black;
    float: left;
    margin-left: 14px;
}

.information_S a {
    font-size: 17px;
    color: black;
    float: right;
    margin-right: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.information_S a:hover {
    text-decoration: none;
    color: red;
}

.information_I {
    width: 550px;
    height: 200px;
    margin-top: 7px;
    overflow: hidden;

}

.information_I ul {
    width: 100%;
    height: 200px;
    /* margin-top: 10px; */
    margin-left: 15px;
    overflow: hidden;
    line-height: 24px;

}
.information_I ul li{
    padding: 7px 0;
}

.information_I ul li .dl {
    display: inline-block;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.information_I ul li span {
    font-family: 宋体;
}

.information_I ul li a:hover {
    color: red;
}

.publish_T span {
    color: black;
    font-size: 17px;
    float: left;
    margin-left: 14px;
}

.publish_T a {
    font-size: 17px;
    float: right;
    color: red;
    margin-right: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.publish_T a:hover {
    text-decoration: none;
    color: red;
}

.publish_M {
    width: 550px;
    height: 336px;
    overflow: hidden;

}

.publish_M ul {
    width: 100%;
    height: 336px;
}

.friendlink {
    width: 1225px;
    height: 48px;
    border-top: 2px solid #228247;
    margin: 0 auto;
    margin-top: 24px;
}

.friendlink_M {
    width: 100%;
    height: 48px;
    margin: 0 auto;
    line-height: 48px;
    background-color: #d3d3d3;
}

.friendlink_M ul {
    margin-left: 100px;
}

.friendlink_M ul li {
    display: inline-block;
    float: left;
    margin-left: 50px;
}

.friendlink_M ul li span {
    font-size: 15px;
    font-weight: bold;
}

.friendlink_M ul li a {
    font-size: 15px;
    font-weight: bold;
}

.footer {
    width: 1225px;
    height: 157px;
    background: white;
    margin: 0 auto;
}

.footer_M {
    width: 820px;
    height: 155px;
    margin: 0 auto;
    position: relative;
}

.logo1 {
    position: absolute;
    left: 145px;
    top: 20px;
}

.footer_t {
    width: 500px;
    height: 78px;
    line-height: 24px;
    position: absolute;
    left: 270px;
    top: 40px;
}

.flexslider {
    width: 1225px;
    margin: 0 auto;
}

.information_I li, .policy_M li {
    clear: both;
}

a {
    text-decoration: none;
}

li a {
    font-size: 14px;
}

li span {
    font-size: 14px;
}

a:visited {
    color: #000;
}

.ideological_T ul {
    margin-top: 10px;
}

.iapt li {
    background-color: #efeff4;
    padding: 10px 15px;
    margin-bottom: 12px;
    transition: background-color 0.3s ease-in-out;
}

.iapt li a {
    margin-left: 115px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    display: block;
    /*overflow: hidden;*/
    font-size: 14px;
    text-decoration: none;
}

.iapt li:hover {
    background: no-repeat right bottom #1d8181;
    /*box-shadow: 0 5px 10px rgb(1 117 117 / 20%);*/
}

.iapt li span {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-right: 1px solid #ddd;
    padding: 0 18px 0 0;
    margin-top: 5px;
}

.iapt li:hover a, .iapt li:hover span {
    color: #fff;
    border-color: #2dd8d8;
}
#bulletin li{
    color: red;
    font-size: 35px;
    padding: 12px 0;
    text-align: center;
}