::selection {
    background: #2d2f36;
}

::-webkit-selection {
    background: #2d2f36;
}

::-moz-selection {
    background: #2d2f36;
}
*{
    margin: 0;
    padding: 0;
}

body {
    /* background: #000; */
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 0;
}

.dbox {
    /* background: #000; */
    background: url("../../image/bg9.png") 0 0/ 100% 1080px no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    place-content: center;
}

@media (max-width: 767px) {
    .dbox {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.container {
    display: block;
    height: 100vh;
    margin: 0 auto;
    width: 320px;
}

@media (max-width: 767px) {
    .container {
        display: block;
        height: 320px;
        width: 320px;
    }
}

.signin {
    background: #524275;
    border-radius: 15%;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    color: #f1f1f2;
    display: block;
    position: absolute;
    width: 320px;
    height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


@media (max-width: 767px) {
    .signin {
        display: block;
        height: 320px;
        width: 320px;
        max-height: 350px;
        top: 50%;
    }
}

.active.submit {
    height: 320px;
    width: 320px;
}
svg {
    position: absolute;
    width: 320px;
}

path {
    fill: none;
    stroke: url(#linearGradient);
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}

.form {
    margin: 45px;
    position: absolute;
}

label {
    color: #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}

input::-moz-focus-inner {
    border: 0;
}

#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}

#submit:focus {
    color: #f2f2f2;
}

#submit:active {
    color: #d0d0d2;
}

#active {
    border: 0.5em solid #8800aa;
    width: 10em;
    height: 10em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: lood 1s infinite linear;
    -webkit-animation: lood 1s infinite linear;
}

@-webkit-keyframes lood {
    0% {
        transform: rotate(0deg);
    }
    25%, 75% {
        border-top: solid 0.5em rgba(255, 255, 255,.8);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes lood {
    0% {
        transform: rotate(0deg);
    }

    25%, 75% {
        border-top: solid 0.5em rgba(255, 255, 255,.8);
    }

    100% {
        transform: rotate(360deg)
    }
}

#txt{
    display: none;
    color: #c02121;
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translateX(-50%);
}

