* {
    margin: 0;
    padding: 0;
}

#content {
    height: 100vh;
    background-color: rgba(136, 136, 136, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    padding: 10px;
    height: 90%;
    margin: 15px;
}

.left {
    float: left;
    width: 60%;
    margin-top: 5px;
}

.right {
    float: right;
    width: 30%;
    padding: 10px;
    background: url("../../image/gradienta.png") 0 0 /100% 150px no-repeat;
    background-image: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url(../../image/gradienta.png), 70%);
    background-image: cross-fade(70% url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==), url(../../image/gradienta.png));
}

.right p {
    display: block;
    padding: 30px 30px 100px;
}

.form,
.echarts,
.right {
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
}

.left p {
    padding: 20px;
    border-bottom: 2px solid green;
    text-align: center;
}


.right ul {
    margin-left: 30px;
}

.right ul li {
    display: flex;
    margin: 10px;
}

.left table {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding: 20px;
}

.left table tr td {
    padding: 20px;
    padding-inline: 50px;
}

.left table tr td a {
    text-decoration: none;
    color: rgb(14, 110, 219);
}

.left .echarts {
    width: 100%;
    height: 60%;
    margin-top: 20px;
}